{% extends 'base.html' %}
{% load static %}
{% block title %}
    Home
{% endblock %}

{% block content %}

    
<div class="bg-pink-100">
	<div class="max-w-full mx-auto flex justify-center items-center">
		<div class="overflow-hidden">
			<form action="{% url 'jobs:searh' %}" method="get" class="pt-10 pb-12 px-6 sm:pt-16 sm:px-16 lg:py-16 lg:pr-0 xl:py-20 xl:px-20">
				<h2 class="text-3xl text-center font-extrabold text-slate-700 sm:text-4xl">
					<span class="block">Find A <span class="text-pink-600">Job</span>
					<span>That You Will <span class="text-pink-600">Love</span>
				</h2>
				<div class="my-4 space-y-2">
					<input class="shadow-sm focus:ring-pink-500 focus:outline-pink-500 focus:border-pink-500 block w-full sm:text-sm border-gray-300 rounded-md px-4 py-2"
						placeholder="What kind of job are you looking for?"
						id="profession" 
						name="position"
					>
					<input class="shadow-sm focus:ring-pink-500 focus:outline-pink-500 focus:border-pink-500 block w-full sm:text-sm border-gray-300 rounded-md px-4 py-2"
						placeholder="Any particular location?"
						id="location" 
						name="location"
					>
				</div>
				<button type="submit" class="relative inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-pink-500 hover:bg-pink-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-pink-500">
					<span>Find a Job</span>
				</button>
			</div>
		</div>
	</div>
</div>

<div class="bg-pink-100">
	<div class="max-w-full mx-auto flex justify-center items-center">
		<div class="overflow-hidden">
			<div class="pt-10 pb-6 px-6 sm:pt-10 sm:px-16 lg:pt-10 lg:pr-0 xl:pt-12 xl:px-20">
				{% if jobs %}
				<h2 class="text-3xl text-center font-extrabold text-slate-700 sm:text-4xl">
					<span class="block">Featured <span class="text-pink-600">Jobs</span>
				</h2>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="flex items-center justify-center">
		<div class="grid grid-cols-2 md:grid-cols-3 gap-x-4 gap-y-4 justify-center">
			{% for job in jobs %}
				<a href="{% url 'jobs:jobs-detail' job.id %}" class="max-w-xs bg-white text-center py-2 rounded-xl px-4 hover:bg-gray-100">
					<span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-orange-100 text-orange-800">
						{{ job.location }}
					</span>
					{% if job.type == '1' %}
					<span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-blue-100 text-blue-800">
						Full Time
					</span>
					{% elif job.type == '2' %}
					<span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-green-100 text-green-800">
						Part Time
					</span>
					{% else %}
					<span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-green-100 text-green-800">
						Intern
					</span>
					{% endif %}
					<h1 class="font-bold text-pink-700 mt-1">{{ job.title }}</h1>
					<h2 class="text-md font-medium text-pink-800">{{ job.company_name }}</h2>
					<h3 class="text-md text-gray-700 font-medium">Salary: <span class="text-green-700">${{ job.salary }}</span></h3>
				</a>
			{% endfor %}
		</div>
	</div>

{% endblock %}
