{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    {{ title }}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-select/css/bootstrap-select.min.css' %}">
{% endblock %}

{% block content %}

<div class="mt-12 mb-4">
	<div class="max-w-full mx-auto flex justify-center items-center">
		<h2 class="text-3xl text-center font-extrabold text-slate-700 sm:text-4xl">
			<span class="block">Create a <span class="text-pink-600">New Job</span>
		</h2>   
	</div>
</div>

<div class="pb-16">
	{% if form.errors %}
		{% for field in form %}
			{% for error in field.errors %}
				<div class="bg-red-400 px-2 py-1 rounded max-w-5xl my-1 mx-auto">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<strong>{{ field.label }}: {{ error|escape }}</strong>
				</div>
			{% endfor %}
		{% endfor %}
	{% endif %}
	<form class="space-y-8 max-w-5xl mx-auto" method="post" action="">
		{% csrf_token %}
		<div>
			<label for="title" class="block text-sm font-medium text-gray-700">Job Title</label>
			<div class="mt-0.5">
			  	<input name="title" id="title" class="px-4 py-2 shadow-sm focus:ring-pink-500 border border-gray-50 focus:outline-pink-400 focus:border-pink-500 block w-full sm:text-sm border-gray-300 rounded-md" 
			  		placeholder="Job Title" value="{{ form.title.value|default_if_none:"" }}"
				>
			</div>
		</div>

		<div>
			<label for="description" class="block text-sm font-medium text-gray-700">Job Description</label>
			<div class="mt-0.5">
				<textarea type="text" name="description" id="description" rows="5" class="px-4 py-2 border border-gray-50 shadow-sm focus:ring-pink-500 focus:outline-pink-400 focus:border-pink-500 block w-full sm:text-sm border-gray-300 rounded-md" 
					placeholder="Description about the position"
				>{{ form.description.value|default_if_none:"" }}</textarea>
			</div>
		</div>

		<div>
			<label for="salary" class="block text-sm font-medium text-gray-700">Salary (Leave empty if negotiable)</label>
			<div class="mt-0.5">
				<input type="number" name="salary" id="salary" min="1000" class="px-4 py-2 border border-gray-50 shadow-sm focus:ring-pink-500 focus:outline-pink-400 focus:border-pink-500 block w-full sm:text-sm border-gray-300 rounded-md" 
					placeholder="0" value="{{ form.salary.value|default_if_none:"" }}"
				/>
			</div>
		</div>
		<div class="grid grid-cols-2 gap-x-4">
			<div>
				<label for="location" class="block text-sm font-medium text-gray-700">Location</label>
				<div class="mt-0.5">
					<input name="location" id="location" class="px-4 py-2 border border-gray-50 shadow-sm focus:ring-pink-500 focus:outline-pink-400 focus:border-pink-500 block w-full sm:text-sm border-gray-300 rounded-md" 
						placeholder="e.g. Remote" value="{{ form.location.value|default_if_none:"" }}"
					>
				</div>
			</div>

		
			<div>
				<label for="type" class="block text-sm font-medium text-gray-700">Type</label>
				<div class="mt-0.5">
					<select name="type" id="type" class="px-4 py-2 shadow-sm border border-gray-50 focus:ring-pink-500 focus:outline-pink-400 focus:border-pink-500 block w-full sm:text-sm border-gray-300 rounded-md">
						<option value="1" {% if form.type.value == "1" %} selected {% endif %}>Full Time</option>
						<option value="2" {% if form.type.value == "2" %} selected {% endif %}>Part Time</option>
						<option value="3" {% if form.type.value == "3" %} selected {% endif %}>Internship</option>
					</select>
				</div>
			</div>
		</div>
		<div>
			<label for="category" class="block text-sm font-medium text-gray-700">Category</label>
			<div class="mt-0.5">
				<select name="category" id="category" class="px-4 py-2 shadow-sm border border-gray-50 focus:ring-pink-500 focus:outline-pink-400 focus:border-pink-500 block w-full sm:text-sm border-gray-300 rounded-md">
					<option value="web-design" {% if form.category.value == "web-design" %} selected {% endif %}>Web design</option>
					<option value="graphic-design" {% if form.category.value == "graphic-design" %} selected {% endif %}>Graphic design</option>
					<option value="web-development" {% if form.category.value == "web-development" %} selected {% endif %}>Web development</option>
					<option value="human-resource" {% if form.category.value == "human-resource" %} selected {% endif %}>Human Resources</option>
					<option value="support" {% if form.category.value == "support" %} selected {% endif %}>Support</option>
					<option value="android" {% if form.category.value == "android" %} selected {% endif %}>Android</option>
				</select>
			</div>
		</div>
		
		<div class="grid grid-cols-2 gap-x-4">
			<div>
				<label for="apply_url" class="block text-sm font-medium text-gray-700">Apply URL (Applicants will apply on your website)</label>
				<div class="mt-0.5">
					<input name="apply_url" id="apply_url" class="px-4 py-2 border border-gray-50 shadow-sm focus:ring-pink-500 focus:outline-pink-400 focus:border-pink-500 block w-full sm:text-sm border-gray-300 rounded-md" 
						placeholder="https://www.example.com/careers/junior-devops-engineer" 
					>
				</div>
			</div>

			<div>
				<label for="validity" class="block text-sm font-medium text-gray-700">Deadline</label>
				<div class="mt-0.5">
					<input name="last_date" id="validity" type="date" value="{{ form.last_date.value|default_if_none:"" }}" class="px-4 py-2 border border-gray-50 shadow-sm focus:ring-pink-500 focus:outline-pink-400 focus:border-pink-500 block w-full sm:text-sm border-gray-300 rounded-md">
				</div>
			</div>
		</div>

		<div class="border-pink-200 border-t"></div>

		<div>
			<label for="company_name" class="block text-sm font-medium text-gray-700">Company Name</label>
			<div class="mt-0.5">
			  	<input name="company_name" id="company_name" class="px-4 py-2 shadow-sm focus:ring-pink-500 border border-gray-50 focus:outline-pink-400 focus:border-pink-500 block w-full sm:text-sm border-gray-300 rounded-md" 
			  		placeholder="Company Name" value="{{ form.company_name.value|default_if_none:"" }}"
				>
			</div>
		</div>

		<div>
			<label for="company_description" class="block text-sm font-medium text-gray-700">Company Description</label>
			<div class="mt-0.5">
				<textarea type="text" name="company_description" id="company_description" rows="5" class="px-4 py-2 border border-gray-50 shadow-sm focus:ring-pink-500 focus:outline-pink-400 focus:border-pink-500 block w-full sm:text-sm border-gray-300 rounded-md" 
					placeholder="Description about the company"
				>{{ form.company_description.value|default_if_none:"" }}</textarea>
			</div>
		</div>

		<div>
			<label for="company_website" class="block text-sm font-medium text-gray-700">Company Website</label>
			<div class="mt-0.5">
			  	<input name="website" id="company_website" class="px-4 py-2 shadow-sm focus:ring-pink-500 border border-gray-50 focus:outline-pink-400 focus:border-pink-500 block w-full sm:text-sm border-gray-300 rounded-md" 
			  		placeholder="URL for company website"
					value="{{ form.website.value|default_if_none:"" }}"
				>
			</div>
		</div>

		<div class="flex justify-end">
			<label>
				<input type="checkbox"> I agree with the <a href="#" class="text-pink-500">Terms and conditions</a>
			</label>
		</div>

		<div class="pt-5">
			<div class="flex justify-end">
				<button type="button" class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">Cancel</button>
				<button type="submit" class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-pink-600 hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
					Create and Publish Job
				</button>
			</div>
		</div>
	</form>
</div>

{% endblock %}